In [1]:
import pandas as pd

In [3]:
filepath="SALARY/Employees salary.csv"
df=pd.read_csv(filepath)
df

,FIRST_NAME,LAST_NAME,Combo Name,DEPARTMENT,JOB_TITLE,ELECTED_OFFICIAL,DATE_STARTED,SEX,ETHNICITY,ORIG_START,DATE_TERM,PAY_STATUS,ANNUAL_SALARY,REGULAR_PAY,OVERTIME_PAY,INCENTIVE_PAY,GROSS_PAY,Unnamed: 17
0,CATHERINE,ABALO,"ABALO, CATHERINE",Kane Regional Centers,NURSING ASSISTANT,0,4/8/2010,F,Black,7/6/2009,NaN,Active,"41,581.07","40,740.50","23,416.98",125.00,"64,282.48",NaN
1,KEVIN J,ABBOTT,"ABBOTT, KEVIN J",Emergency Management,FIRE INSTRUCTOR - PART TIME,0,6/11/2018,M,White (Not of Hispanic Origin),6/11/2018,NaN,Active,"30,576.00",378.00,-,-,378.00,NaN
2,JOY M,ABBOTT,"ABBOTT, JOY M",Kane Regional Centers,COOK,0,2/14/1999,F,White (Not of Hispanic Origin),2/2/1998,NaN,Active,"40,761.76","44,015.85","1,923.77",225.00,"46,164.62",NaN
3,ELIZABETH S,ABRAHAM,"ABRAHAM, ELIZABETH S",Parks,SEASONAL AIDE,0,5/26/2022,F,White (Not of Hispanic Origin),5/26/2022,9/5/2022,Terminated,"39,936.00","6,488.00",-,100.00,"6,588.00",NaN
4,JASMINE,ABRAM,"ABRAM, JASMINE",Emergency Management,TELECOMMUNICATION OFFICER,0,5/23/2022,F,Black,5/31/2016,NaN,Active,"52,240.03","25,637.96","15,994.95",125.00,"41,757.91",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6275,ILAN,ZUR,"ZUR, ILAN",District Attorney,DEPUTY DISTRICT ATTORNEY,0,10/5/1998,M,White (Not of Hispanic Origin),10/5/1998,NaN,Active,"113,128.08","112,921.31",-,-,"112,921.31",NaN
6276,JEFFREY M.,ZURISKO,"ZURISKO, JEFFREY M.",District Attorney,ATTORNEY 3,0,11/20/2006,M,White (Not of Hispanic Origin),11/20/2006,NaN,Active,"55,389.36","59,006.20","7,291.45","2,215.57","68,513.22",NaN
6277,MARY E,ZUSINAS,"ZUSINAS, MARY E",Public Works Operating,ADMINISTRATIVE ASSISTANT,0,5/20/2013,F,White (Not of Hispanic Origin),5/20/2013,NaN,Active,"36,250.03","20,909.82",-,-,"20,909.82",NaN
6278,STEPHEN,ZVOLENSKY,"ZVOLENSKY, STEPHEN",Parks,REGIONAL PARK MAINTENANCE SPV,0,5/13/1985,M,White (Not of Hispanic Origin),10/17/1983,NaN,Active,"64,750.19","51,728.37",435.82,125.00,"52,289.19",NaN
6279,STEVEN,ZWOLINSKI,"ZWOLINSKI, STEVEN",Information Technology,GIS ANALYST 5 - 10 YEARS,0,11/14/2022,M,White (Not of Hispanic Origin),11/14/2022,NaN,Active,"50,400.06","4,652.38",-,100.00,"4,752.38",NaN

In [4]:
df.isnull()
#to find rows with missing values it will bring true

,FIRST_NAME,LAST_NAME,Combo Name,DEPARTMENT,JOB_TITLE,ELECTED_OFFICIAL,DATE_STARTED,SEX,ETHNICITY,ORIG_START,DATE_TERM,PAY_STATUS,ANNUAL_SALARY,REGULAR_PAY,OVERTIME_PAY,INCENTIVE_PAY,GROSS_PAY,Unnamed: 17
0,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6275,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True
6276,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True
6277,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True
6278,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True
6279,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True

In [5]:
df.isnull().sum()
#returns total number of missing values per column

FIRST_NAME             0
LAST_NAME              0
Combo Name             0
DEPARTMENT             0
JOB_TITLE              0
ELECTED_OFFICIAL       0
DATE_STARTED           0
SEX                    0
ETHNICITY              0
ORIG_START             0
DATE_TERM           5017
PAY_STATUS             0
 ANNUAL_SALARY         0
 REGULAR_PAY           0
 OVERTIME_PAY          0
 INCENTIVE_PAY         0
 GROSS_PAY             0
Unnamed: 17         6279
dtype: int64

In [8]:
df[df.isnull().any(axis=1)]
#used to find exact value missing 
df

,FIRST_NAME,LAST_NAME,Combo Name,DEPARTMENT,JOB_TITLE,ELECTED_OFFICIAL,DATE_STARTED,SEX,ETHNICITY,ORIG_START,DATE_TERM,PAY_STATUS,ANNUAL_SALARY,REGULAR_PAY,OVERTIME_PAY,INCENTIVE_PAY,GROSS_PAY,Unnamed: 17
0,CATHERINE,ABALO,"ABALO, CATHERINE",Kane Regional Centers,NURSING ASSISTANT,0,4/8/2010,F,Black,7/6/2009,NaN,Active,"41,581.07","40,740.50","23,416.98",125.00,"64,282.48",NaN
1,KEVIN J,ABBOTT,"ABBOTT, KEVIN J",Emergency Management,FIRE INSTRUCTOR - PART TIME,0,6/11/2018,M,White (Not of Hispanic Origin),6/11/2018,NaN,Active,"30,576.00",378.00,-,-,378.00,NaN
2,JOY M,ABBOTT,"ABBOTT, JOY M",Kane Regional Centers,COOK,0,2/14/1999,F,White (Not of Hispanic Origin),2/2/1998,NaN,Active,"40,761.76","44,015.85","1,923.77",225.00,"46,164.62",NaN
3,ELIZABETH S,ABRAHAM,"ABRAHAM, ELIZABETH S",Parks,SEASONAL AIDE,0,5/26/2022,F,White (Not of Hispanic Origin),5/26/2022,9/5/2022,Terminated,"39,936.00","6,488.00",-,100.00,"6,588.00",NaN
4,JASMINE,ABRAM,"ABRAM, JASMINE",Emergency Management,TELECOMMUNICATION OFFICER,0,5/23/2022,F,Black,5/31/2016,NaN,Active,"52,240.03","25,637.96","15,994.95",125.00,"41,757.91",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6275,ILAN,ZUR,"ZUR, ILAN",District Attorney,DEPUTY DISTRICT ATTORNEY,0,10/5/1998,M,White (Not of Hispanic Origin),10/5/1998,NaN,Active,"113,128.08","112,921.31",-,-,"112,921.31",NaN
6276,JEFFREY M.,ZURISKO,"ZURISKO, JEFFREY M.",District Attorney,ATTORNEY 3,0,11/20/2006,M,White (Not of Hispanic Origin),11/20/2006,NaN,Active,"55,389.36","59,006.20","7,291.45","2,215.57","68,513.22",NaN
6277,MARY E,ZUSINAS,"ZUSINAS, MARY E",Public Works Operating,ADMINISTRATIVE ASSISTANT,0,5/20/2013,F,White (Not of Hispanic Origin),5/20/2013,NaN,Active,"36,250.03","20,909.82",-,-,"20,909.82",NaN
6278,STEPHEN,ZVOLENSKY,"ZVOLENSKY, STEPHEN",Parks,REGIONAL PARK MAINTENANCE SPV,0,5/13/1985,M,White (Not of Hispanic Origin),10/17/1983,NaN,Active,"64,750.19","51,728.37",435.82,125.00,"52,289.19",NaN
6279,STEVEN,ZWOLINSKI,"ZWOLINSKI, STEVEN",Information Technology,GIS ANALYST 5 - 10 YEARS,0,11/14/2022,M,White (Not of Hispanic Origin),11/14/2022,NaN,Active,"50,400.06","4,652.38",-,100.00,"4,752.38",NaN

In [10]:
df.fillna(value={'Date term':'Unknown'},inplace=True)
df.head()
#replaces the blank space with unknown

,FIRST_NAME,LAST_NAME,Combo Name,DEPARTMENT,JOB_TITLE,ELECTED_OFFICIAL,DATE_STARTED,SEX,ETHNICITY,ORIG_START,DATE_TERM,PAY_STATUS,ANNUAL_SALARY,REGULAR_PAY,OVERTIME_PAY,INCENTIVE_PAY,GROSS_PAY,Unnamed: 17
0,CATHERINE,ABALO,"ABALO, CATHERINE",Kane Regional Centers,NURSING ASSISTANT,0,4/8/2010,F,Black,7/6/2009,NaN,Active,"41,581.07","40,740.50","23,416.98",125.00,"64,282.48",NaN
1,KEVIN J,ABBOTT,"ABBOTT, KEVIN J",Emergency Management,FIRE INSTRUCTOR - PART TIME,0,6/11/2018,M,White (Not of Hispanic Origin),6/11/2018,NaN,Active,"30,576.00",378.00,-,-,378.00,NaN
2,JOY M,ABBOTT,"ABBOTT, JOY M",Kane Regional Centers,COOK,0,2/14/1999,F,White (Not of Hispanic Origin),2/2/1998,NaN,Active,"40,761.76","44,015.85","1,923.77",225.00,"46,164.62",NaN
3,ELIZABETH S,ABRAHAM,"ABRAHAM, ELIZABETH S",Parks,SEASONAL AIDE,0,5/26/2022,F,White (Not of Hispanic Origin),5/26/2022,9/5/2022,Terminated,"39,936.00","6,488.00",-,100.00,"6,588.00",NaN
4,JASMINE,ABRAM,"ABRAM, JASMINE",Emergency Management,TELECOMMUNICATION OFFICER,0,5/23/2022,F,Black,5/31/2016,NaN,Active,"52,240.03","25,637.96","15,994.95",125.00,"41,757.91",NaN

In [19]:
df[df.duplicated()]#drop duplicates 
df

,FIRST_NAME,LAST_NAME,Combo Name,DEPARTMENT,JOB_TITLE,ELECTED_OFFICIAL,DATE_STARTED,SEX,ETHNICITY,ORIG_START,DATE_TERM,PAY_STATUS,ANNUAL_SALARY,REGULAR_PAY,OVERTIME_PAY,INCENTIVE_PAY,GROSS_PAY,Unnamed: 17
0,CATHERINE,ABALO,"ABALO, CATHERINE",Kane Regional Centers,NURSING ASSISTANT,0,4/8/2010,F,Black,7/6/2009,NaN,Active,"41,581.07","40,740.50","23,416.98",125.00,"64,282.48",NaN
1,KEVIN J,ABBOTT,"ABBOTT, KEVIN J",Emergency Management,FIRE INSTRUCTOR - PART TIME,0,6/11/2018,M,White (Not of Hispanic Origin),6/11/2018,NaN,Active,"30,576.00",378.00,-,-,378.00,NaN
2,JOY M,ABBOTT,"ABBOTT, JOY M",Kane Regional Centers,COOK,0,2/14/1999,F,White (Not of Hispanic Origin),2/2/1998,NaN,Active,"40,761.76","44,015.85","1,923.77",225.00,"46,164.62",NaN
3,ELIZABETH S,ABRAHAM,"ABRAHAM, ELIZABETH S",Parks,SEASONAL AIDE,0,5/26/2022,F,White (Not of Hispanic Origin),5/26/2022,9/5/2022,Terminated,"39,936.00","6,488.00",-,100.00,"6,588.00",NaN
4,JASMINE,ABRAM,"ABRAM, JASMINE",Emergency Management,TELECOMMUNICATION OFFICER,0,5/23/2022,F,Black,5/31/2016,NaN,Active,"52,240.03","25,637.96","15,994.95",125.00,"41,757.91",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6275,ILAN,ZUR,"ZUR, ILAN",District Attorney,DEPUTY DISTRICT ATTORNEY,0,10/5/1998,M,White (Not of Hispanic Origin),10/5/1998,NaN,Active,"113,128.08","112,921.31",-,-,"112,921.31",NaN
6276,JEFFREY M.,ZURISKO,"ZURISKO, JEFFREY M.",District Attorney,ATTORNEY 3,0,11/20/2006,M,White (Not of Hispanic Origin),11/20/2006,NaN,Active,"55,389.36","59,006.20","7,291.45","2,215.57","68,513.22",NaN
6277,MARY E,ZUSINAS,"ZUSINAS, MARY E",Public Works Operating,ADMINISTRATIVE ASSISTANT,0,5/20/2013,F,White (Not of Hispanic Origin),5/20/2013,NaN,Active,"36,250.03","20,909.82",-,-,"20,909.82",NaN
6278,STEPHEN,ZVOLENSKY,"ZVOLENSKY, STEPHEN",Parks,REGIONAL PARK MAINTENANCE SPV,0,5/13/1985,M,White (Not of Hispanic Origin),10/17/1983,NaN,Active,"64,750.19","51,728.37",435.82,125.00,"52,289.19",NaN
6279,STEVEN,ZWOLINSKI,"ZWOLINSKI, STEVEN",Information Technology,GIS ANALYST 5 - 10 YEARS,0,11/14/2022,M,White (Not of Hispanic Origin),11/14/2022,NaN,Active,"50,400.06","4,652.38",-,100.00,"4,752.38",NaN